.consultation {
  position: fixed;
  top: 200px;
  right: -60px;
  width: 182px;
  height: 48px;
  background: transparent;
  border-radius: 25px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  z-index: 10;

  @include tab {
    top: unset;
    bottom: 55px;
    right: 16px;
    width: 56px;
    height: 56px;
  }

  span {
    font-size: 14px;
    letter-spacing: 0.09em;
    line-height: 16px;
    margin-left: 15px;
    color: white;
    @include tab {
      display: none;
    }
  }
  svg {
    .a {
      fill: white;
    }
  }
}
.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 20;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  &.active {
    display: flex;
  }

  .modal-container {
    padding: 40px;
    background-color: #fff;
    @include xl {
      padding: 25px;
    }
    @include tab {
      width: 100%;
      height: 100%;
    }

    .form {
      display: flex;
      flex-direction: column;
      position: relative;

      h3 {
        font-size: 24px;
        text-align: left;
        color: $blue;
        opacity: 0.8;
        margin-bottom: 64px;
        @include xl {
          margin-bottom: 30px;
        }
      }
      label {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        span {
          font-size: 17px;
          text-align: left;
          color: #a1a1a1;
          opacity: 0.8;
          @include xl {
            font-size: 14px;
          }
        }
        input {
          width: 358px;
          height: 48px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          margin-left: 30px;
          padding: 5px 10px;
          @include xl {
            width: 250px;
            height: 35px;
          }
          @include sm {
            width: 200px;
          }
          &:focus {
            border: 1px solid #65ccae;
          }
        }
        textarea {
          width: 358px;
          border-radius: 4px;
          background: #fff;
          border: 1px solid #ccc;
          margin-left: 30px;
          padding: 5px 10px;
          @include xl {
            width: 250px;
            height: 150px;
          }
          @include sm {
            width: 200px;
          }
          &:focus {
            border: 1px solid #65ccae;
          }
        }
      }
      button {
        width: 358px;
        height: 48px;
        border-radius: 4px;
        background: $blue;
        margin-left: auto;
        color: white;
        @include xl {
          width: 250px;
          height: 35px;
        }
        @include sm {
          width: 200px;
        }
      }
    }
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 0px;
  display: block;
  width: 17px;
  height: 17px;
  span {
    position: absolute;
    top: 50%;
    width: 15px;
    height: 2px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    &:first-child {
      transform: translateY(-50%) rotate(45deg);
    }
    &:last-child {
      transform: translateY(-50%) rotate(-45deg);
    }
  }
}
