.consultation {
  position: fixed;
  top: 200px;
  right: -60px;
  width: 182px;
  height: 48px;
  background: transparent;
  border-radius: 25px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-90deg);
  z-index: 10;

  @include tab {
    top: unset;
    bottom: 55px;
    right: 16px;
    width: 56px;
    height: 56px;
  }

  span {
    font-size: 14px;
    letter-spacing: 0.09em;
    line-height: 16px;
    margin-left: 15px;
    color: white;
    @include tab {
      display: none;
    }
  }
  svg {
    .a {
      fill: white;
    }
  }
}
