@font-face {
  font-family: "heavy";
  src: url("../fonts/AmazonEmber-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "regular";
  src: url("../fonts/AmazonEmber-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "light";
  src: url("../fonts/AmazonEmber-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "bold";
  src: url("../fonts/AmazonEmber-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
