.partners-slider {
  padding: 30px 0 55px 0;
  background: #fafafa;
  position: relative;
  &__container {
  }
  &__slide {
    img {
      width: 100%;
    }
  }
  &__pag {
    bottom: 30px !important;
    span {
      width: 10px;
      height: 10px;
      background: transparent;
      border: 2.5px solid $black;
      &.swiper-pagination-bullet-active {
        background: $black;
      }
    }
  }
}
