.product-inside {
  margin-top: 100px;
  @include tab {
    margin-top: 80px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: "regular";
  }
  &__top {
    padding: 30px 0 45px 0;
    @include tab {
      padding: 15px 0 30px 0;
    }
  }
  .back {
    display: block;
    font-size: 15px;
    margin-bottom: 30px;
    @include tab {
      display: none;
    }
  }
  &__product {
    display: flex;
    margin-right: 8%;
    margin-bottom: 110px;
    @include lg {
      margin-right: 0;
    }
    @include tab {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
  &__button {
    width: 150px;
    margin: 0 auto;
    height: 35px;
    margin-bottom: 60px;
    &::before {
      content: "";
      position: absolute;
      width: calc(50vw - 75px);
      height: 1px;
      background-color: $blue;
      top: 50%;
      transform: translateY(-50%);
      left: calc(-50vw + 70px);
    }
    &::after {
      content: "";
      position: absolute;
      width: calc(50vw - 75px);
      height: 1px;
      background-color: $blue;
      top: 50%;
      transform: translateY(-50%);
      right: calc(-50vw + 70px);
    }
  }
}

.product-info {
  h1 {
    display: none;
    font-size: clamp(20px, 1.9vw, 36px);
    margin-bottom: 30px;
    @include tab {
      display: block;
    }
  }
  &__imgblock {
    width: 45%;
    flex-shrink: 0;
    position: relative;
    @include tab {
      width: 100%;
      margin-bottom: 30px;
    }
    .main-img {
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 85%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;

      .rect {
        position: absolute;
        margin: 0 !important;
        padding: 0;
        width: 100%;
        height: 50%;
        background-color: #787878;
        opacity: 0;
        transform: translate(-50%, -50%);
        pointer-events: none;
        @include tab {
          display: none;
        }

        &.active {
          opacity: 0.5;
        }
      }
    }
    .zoom {
      position: absolute;
      background-repeat: no-repeat;
      width: 120%;
      height: 80%;
      top: 0;
      right: calc(-120% - 20px);
      opacity: 0;
      z-index: -1;

      @include tab {
        display: none;
      }

      &.active {
        opacity: 1;
        z-index: 5;
      }
    }

    span {
      display: block;
      opacity: 0.7;
      margin: 15px auto;
      text-align: center;
    }
    .thumb-imgs {
      display: flex;
      justify-content: center;

      li {
        width: 12%;
        height: 0;
        padding-top: 12%;
        position: relative;
        border: 0.5px solid #ccc;
        margin: 0 1%;

        &.active {
          border: 0.5px solid $blue;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          object-fit: contain;
        }
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    @include tab {
      margin: 0;
    }
    h1 {
      display: block;
      font-size: clamp(20px, 1.9vw, 36px);
      margin-bottom: 20px;
      @include tab {
        display: none;
      }
    }
    .hidden-compare {
      display: flex;
      align-items: center;
      @include tab {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
      }

      &::after {
        content: "";
        width: 1px;
        height: 40px;
        background-color: #ccc;
        order: 0;
        margin: 0 40px;
        display: none;
        @include tab {
          display: initial;
        }
      }
      label {
        display: none;
        @include tab {
          display: flex;
        }
      }
    }
    .price {
      color: $green;
      font-size: 28px;
      font-family: "bold";
      display: block;
      margin-bottom: 40px;
      line-height: 28px;
      @include lg {
        margin-bottom: 20px;
      }
      @include tab {
        margin-bottom: 0;
        order: 1;
      }

      span {
        font-size: inherit;
        color: inherit;
        font-family: inherit;
      }
    }
    .input-blocks {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      @include lg {
        margin-bottom: 20px;
      }
      @include tab {
        justify-content: center;
      }

      &::after {
        content: "";
        width: 1px;
        height: 40px;
        background-color: #ccc;
        order: 1;
        margin: 0 40px;
        @include tab {
          display: none;
        }
      }

      .addtocart {
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        border-radius: 8px;
        order: 0;
        @include tab {
          width: 100%;
        }
      }
      .checkbox {
        order: 2;
        @include tab {
          display: none;
        }
      }
    }
    h3 {
      font-size: 20px;
      margin-bottom: 20px;
    }
    p {
      color: #999;
      font-size: 17px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px; /* fallback */
      max-height: 80px; /* fallback */
      -webkit-line-clamp: 5; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
    .data-sheet {
      margin-top: auto;
      hr {
        display: none;
        border: 0.5px solid #ccc;
        width: 100%;
        margin: 20px 0;
        @include tab {
          display: block;
        }
      }
      h4 {
        font-size: 17px;
        margin-bottom: 15px;
      }
      .pdfs {
        display: flex;
        align-items: center;
        a {
          width: 120px;
          height: 40px;
          background: transparent;
          border: 1px solid #ccc;
          margin-right: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            margin-right: 7px;
          }
        }
      }
    }
  }
}

.descriptions {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-gap: 15px;
  margin-bottom: 35px;
  height: 0;
  overflow: hidden;
  @include rwd(800) {
    grid-template-columns: 1fr;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 50px;
    @include tab {
      font-size: 17px;
      margin-bottom: 30px;
    }
  }
  &__spec {
    table,
    td {
      border: 1px solid #ccc;
      @include sm {
        border: none;
      }
    }
    table {
      border-collapse: collapse;
      width: 100%;
      tr {
        @include sm {
          display: flex;
          flex-direction: column;
        }
        td {
          padding: 13px;
          @include sm {
            padding: 4px 15px 4px 0;
          }
          &:first-child {
            font-family: "bold";
          }
          &:nth-child(2) {
            text-align: right;
            background: #f3f3f3;
          }
        }
      }
    }
  }
  &__desc {
    @include rwd(800) {
      order: -1;
      margin-bottom: 30px;
    }
    p {
      color: #999;
    }
  }
}

.mobile-buttons {
  display: none;
  @include tab {
    display: flex;
  }
  .button {
    @include tab {
      display: flex;
      align-items: center;
      justify-content: center;
      position: static;
      margin: 0;
      border: 1px solid $black;
      margin-left: 5px;
    }
    &::after {
      color: $black;
    }
  }
}

.productin-slide {
  @include sm {
    box-shadow: none;
    width: 160px;
    height: unset;
    &:hover {
      height: unset;
      box-shadow: none;
    }
  }
  .slider-img {
    @include sm {
      height: 90px;
    }
  }
  .slider-text {
    h4 {
      @include sm {
        font-size: 14px;
        margin-bottom: 8px;
      }
    }
    p {
      @include sm {
        display: none;
      }
    }
    div {
      @include sm {
        height: fit-content;
        margin: 0;
      }
      span {
        @include sm {
          font-size: 10px;
        }
      }
    }
    .slider-text__checkbox {
      @include sm {
        margin-top: 10px;
      }
    }
  }
  .slider-bottom__info {
    @include sm {
      border: none;
    }
  }
  .addto-cart {
    span {
      @include sm {
        display: none;
      }
    }
  }
}

.standart-slider__top {
  @include sm {
    margin-bottom: 20px;
  }
  h3 {
    @include sm {
      font-size: 20px;
    }
  }
}

.modal-imgs {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba($color: black, $alpha: 0.4);

  &.active {
    display: flex;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 15px;
    background: #fff;
    display: flex;
    align-items: center;
  }
  &__container {
    height: 80%;
    width: 100%;
    padding: 0 15%;

    img {
      object-fit: contain;
    }
    .button {
      border: 1px solid $black;
      @include tab {
        display: flex;
        top: 95%;
      }
      &:hover {
        &::after {
          color: white;
        }
      }

      &::after {
        color: $black;
      }
    }
  }
}
