@import "vars";
@import "fonts";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  outline: none;
  list-style-type: none;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  border: 0;
  resize: none;
  transition: 0.3s;
  color: $black;
  font-family: "regular";
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

.container {
  // max-width: 1920px;
  padding: 0 140px;
  margin: 0 auto;
  @include lg {
    padding: 0 50px;
  }
  @include tab {
    padding: 0 16px;
  }
}

h1,
h2,
h3,
h4 {
  font-family: "heavy";
}

@import "header";
@import "animated-border";
@import "button";
@import "checkbox";
@import "links";
@import "animated-button";
@import "pag";
@import "back-button";
@import "main-slider";
@import "standart-slider";
@import "products-slider";
@import "solution-slider";
@import "partners-slider";
@import "become-partner";
@import "product-page";
@import "about-us";
@import "support";
@import "contact";
@import "product-inside";
@import "services";
@import "solutions";
@import "user";
@import "services-inside";
@import "portfolio";
@import "portfolio-inside";
@import "consultation";
@import "auth-modal";
@import "footer";
