- const scrollToTop = `#aboutUs`

doctype html
html(lang="en")
    head
        include layout/_head
    body 
        include layout/_header
        main
            section.about-us(id='aboutUs')
                .about-us__top.container
                    .links
                        a(href="index.html") Home
                        a About Us 
                .about-us__about.about-block
                    .about-block__text
                        h2 About Us
                        p.
                            Welcome to Netframe, your number one source for all things product. We're dedicated to giving you the very best of product, with a focus on store characteristic 1, store characteristic 2, store characteristic 3.
                            Founded in 2000 year by Founder Name, Netframe has come a long way from its beginnings in starting location. When Founder Name first started out, his passion for  "eco-friendly cleaning products"drove them to action: quit day job, do tons of research, etc. so that Netframe can offer you  "the world's most advanced toothbrush". We now serve customers all over  the world, and are thrilled that we're able to turn our passion into our own website.
                        .block-infos 
                            .block-info 
                                h3 35
                                span Number of Employees
                            .block-info 
                                h3 35
                                span Number of Employees
                            .block-info 
                                h3 35
                                span Number of Employees
                    .about-block__img
                        img(src="assets/img/about-us-img1.jpg", alt="")
                    h2 About Us
                .about-us__more.more-block.container
                    h2.mob-title Our Vision and Mission
                    .more-block__img
                        img(src="assets/img/Group 3427.jpg", alt="")
                    .more-block__text
                        h2 Our Vision and Mission
                        h3 Vision
                        p.
                            We strive to anticipate the technological needs of our clients and provide leadership to 
                            create innovative and cost-effective solutions. 
                        h3  Mission
                        p.
                            Be recognised for fast, agile and efficient delivery of exclusive services. Continue to be a centre of excellence for design and solutions implementation. To create an excellent place to work and self-development
                .about-us__more.more-block.container.more-block--reverse
                    h2.mob-title Due Diligence
                    .more-block__img
                        img(src="assets/img/Group 3427.jpg", alt="")
                    .more-block__text.more-block__text--reverse
                        h2 Due Diligence
                        p.
                            We strive to anticipate the technological needs of our clients and provide leadership to 
                            create innovative and cost-effective solutions. 
                .about-us__more.more-block.container
                    h2.mob-title Health and Safety
                    .more-block__img
                        img(src="assets/img/Group 3427.jpg", alt="")
                    .more-block__text
                        h2 Health and Safety
                        p.
                            We strive to anticipate the technological needs of our clients and provide leadership to 
                            create innovative and cost-effective solutions.
            include layout/_consultation
        include layout/_footer
        script(src='assets/js/script.js')
        script(src='assets/js/aboutus.js')
