- const scrollToTop = `#contact`

doctype html
html(lang="en")
    head
        include layout/_head
    body 
        include layout/_header
        main
            section.contact.container(id='contact')
                .contact__top
                    .links
                        a(href="index.html") Home
                        a support
                .contact-main
                    .contact-main__top
                        h2 Contact Us
                        hr
                        .contact-main__buttons
                            .animated-button.contact-main__button.active
                                span Georgia
                                .around
                            .animated-button.contact-main__button
                                span Azerbaijan
                                .around
                    .contact-main__info
                        .map 
                            img(src="assets/img/map.png", alt="")
                        .contacts
                            .contacts__item
                                h3 Working hours
                                div
                                    p Mon.-Tue.: 
                                    span 10:00 - 17:00
                                div
                                    p Sat.:
                                    span 10:00 - 14:00
                            .contacts__item 
                                h3 Contact Information
                                div 
                                    img(src="assets/img/mail-blue.svg", alt="")
                                    span netframe@gmail.com
                                div 
                                    img(src="assets/img/phone-blue.svg", alt="")
                                    span +995 599 995 599
                                div 
                                    img(src="assets/img/location-blue.svg", alt="")
                                    span Chavchavadze str 159
                            .socials 
                                a(href="")
                                    img(src="assets/img/facebook-blue.svg", alt="")
                                a(href="")
                                    img(src="assets/img/insta-blue.svg", alt="")
                                a(href="")
                                    img(src="assets/img/twitter-blue.svg", alt="")
                                a(href="")
                                    img(src="assets/img/Polygon-blue.svg", alt="")

                include layout/_consultation
        include layout/_footer

