- const scrollToTop = `#support`

doctype html
html(lang="en")
    head
        include layout/_head
    body 
        include layout/_header
        main
            section.support.container(id='support')
                .support__top
                    .links
                        a(href="index.html") Home
                        a support
                .support__item
                    h2 Netframe support and maintenance
                    .support__text
                        h2 Netframe support and maintenance
                        p.
                            Our in-house competence extends from the design phase (planning and design) through to building (construction, installation and commissioning) and operating (operations and maintenance) your communications solutions. NetFrame has excellent relationships with equipment suppliers, but we are independent, giving us greater flexibility and agility to meet your project needs.
                            NetFrame has the resources, partnerships and infrastructure to design and deploy challenging, complicated and critical networks. Our strength is in our people. Today, NetFrame employs numerous engineers (specializing in structural and network design, telecommunications systems), field technicians and network operations specialists.
                            Our in-house competence extends from the design phase (planning and design) through to building (construction, installation and commissioning) and operating (operations and maintenance) your communications solutions. NetFrame has excellent relationships with equipment suppliers, but we are independent, giving us greater flexibility and agility to meet your project needs.
                    .support__img
                        img(src="assets/img/support-img1.jpg", alt="")
                .support__item
                    h2 Netframe support and maintenance
                    .support__text
                        h2 Netframe support and maintenance
                        p.
                            Our in-house competence extends from the design phase (planning and design) through to building (construction, installation and commissioning) and operating (operations and maintenance) your communications solutions. NetFrame has excellent relationships with equipment suppliers, but we are independent, giving us greater flexibility and agility to meet your project needs.
                            NetFrame has the resources, partnerships and infrastructure to design and deploy challenging, complicated and critical networks. Our strength is in our people. Today, NetFrame employs numerous engineers (specializing in structural and network design, telecommunications systems), field technicians and network operations specialists.
                            Our in-house competence extends from the design phase (planning and design) through to building (construction, installation and commissioning) and operating (operations and maintenance) your communications solutions. NetFrame has excellent relationships with equipment suppliers, but we are independent, giving us greater flexibility and agility to meet your project needs.
                    .support__img
                        img(src="assets/img/support-img2.jpg", alt="")
                .support__button
                    span Click to see our Services
                    .around
                include layout/_consultation
        include layout/_footer

