footer.footer.container
    .footer__wrapper 
        p All rights reserved
        .footer__info 
            div 
                img(src="assets/img/mail.svg", alt="")
                span netframe@gmail.com
            div 
                img(src="assets/img/phone.svg", alt="")
                span +995 599 995 599
            div 
                img(src="assets/img/location.svg", alt="")
                span Chavchavadze str 159
        .footer__button 
            a(href=scrollToTop)
                img(src="assets/img/white-arrow-up.png", alt="")
        .footer__socials 
            a(href="")
                img(src="assets/img/facebook.svg", alt="")
            a(href="")
                img(src="assets/img/insta.svg", alt="")
            a(href="")
                img(src="assets/img/twitter.svg", alt="")
            a(href="")
                img(src="assets/img/Polygon 84.svg", alt="")

