-
    const titles = [
        {
            title: 'Home',
            link: "index"
        }, 
        {
            title: 'About us',
            link: "about-us"
        }, 
        {
            title: 'Services',
            link: "services"
        }, 
        {
            title: 'Portfolio',
            link: "portfolio"
        }, 
        {
            title: 'Products',
            link: "products"
        }, 
        {
            title: 'Solutions',
            link: "solutions"
        }, 
        {
            title: 'Support',
            link: "support"
        }, 
        {
            title: 'Contact',
            link: "contact"
        }, 
    ]

header.header 
            .container.header__container
                .header__left
                    .burger
                        span 
                        span 
                        span 
                    a.header__left__logo(href='index.html')
                        img(src="assets/img/main-logo.png", alt="")
                .header__nav 
                    ul
                        each val, i in titles 
                            if i == 0
                                li 
                                    a(href= val.link + '.html', class="active")= val.title
                            else
                                li
                                    a(href= val.link + '.html')= val.title
                .header__right
                    if isCur
                        .header__curr USD ($)
                        .header__search.headers-info
                            img(src="assets/img/search.svg", alt="")
                        a.header__login.headers-info
                            img(src="assets/img/user-line.svg", alt="")
                        .header__basket.headers-info
                            img(src="assets/img/basket.svg", alt="")
                        .header__lang.headers-info
                            a(href="#") Eng
                    else 
                        .header__search.headers-info
                            img(src="assets/img/search.svg", alt="")
                        a.header__login.headers-info
                            img(src="assets/img/user-line.svg", alt="")
                        .header__basket.headers-info
                            img(src="assets/img/basket.svg", alt="")
                        .header__lang.headers-info
                            a(href="#") Eng


            
